.media > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.media > div > iframe {
  width: 1000px;
  height: 500px;
}

.media-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e62117;
  font-size: 1.2rem;
  color: #fff;
  width: 270px;
  padding: 10px;
  border-radius: 5px;
}

/* For the tablet view */
@media screen and (max-width: 992px) {
  .media > div > iframe {
    width: 700px;
  }
}

/* For the mobile View */
@media screen and (max-width: 576px) {
  .media > div > iframe {
    width: 330px;
    height: 200px;
  }
}
