.youT {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url('../../img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 400px;
  padding: 0px 200px;
}
.youT > iframe {
  width: 450px;
  height: 300px;
}

.youT-p {
  width: 450px;
  text-align: center;
  font-size: 2rem;
}

/* For the tablet view */
@media screen and (max-width: 992px) {
  .youT {
    padding: 0;
  }
  .youT > iframe {
    width: 350px;
    height: 200px;
  }
  .youT-p {
    width: 350px;
    font-size: 1.8rem;
  }
}

/* For the mobile View */
@media screen and (max-width: 576px) {
  .youT {
    flex-direction: column;
  }
  .youT > iframe {
    width: 300px;
  }
  .youT-p {
    width: 300px;
    font-size: 1.4rem;
  }
}
