.ab-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0px 2px #ededed;
  height: 100px;
  color: #0000ff;
}
.ab-sub > h2 {
  font-size: 2rem;
}

/* body */
.ab-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 450px 0px;
  gap: 30px;
  height: 100vh;
}
.ab-one {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ab-one > h2,
.ab-two > h2 {
  font-size: 2rem;
  color: #333333;
  padding-bottom: 20px;
  box-shadow: 0px 2px #ededed;
}

.one-p {
  font-size: 1rem;
  color: #666;
  line-height: 25px;
  text-align: left;
}

.ab-two {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 40px;
}
.two-cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-socio {
  display: flex;
  gap: 10px;
}
.socio-fb {
  background-color: #3b5998;
}
.socio-tw {
  background-color: #00aced;
}
.socio-in {
  background-color: #d2001a;
}
.socio-tik {
  background-color: #000;
  color: #fff;
}

.socio-fb,
.socio-tw,
.socio-in,
.socio-tik {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  padding: 7px 7px;
  color: #fff;
}

/* For the tablet view */
@media screen and (max-width: 992px) {
  .ab-one,
  .ab-two {
    width: 80%;
  }
  .ab-one > h2,
  .ab-two > h2 {
    font-size: 1.5rem;
  }
}

/* For the mobile View */
@media screen and (max-width: 576px) {
  .ab-sub > h2 {
    font-size: 1.5rem;
  }
  .ab-sub {
    height: 60px;
  }
  .ab-one,
  .ab-two {
    width: 90%;
    gap: 30px;
  }
  .ab-body {
    padding: 580px 0px;
    gap: 40px;
  }
  .one-p {
    line-height: 17px;
  }
}
